<!DOCTYPE html>
<html>
<head>
    <title>Landon's Favorite Games</title>  
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
body, html {
    height:100%;
    margin:0;
    padding:0;
}
.about-page {
    background:url("https://media.giphy.com/media/6gQk1bJCMGuMU/giphy.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}
h1 {
    margin:0;
}
p {
    color:red;
}
.links {
    padding-top: 25px;
}
.game-links {
    padding:20px;
}
</style>
<body>
    
<div class="about-page">
    <h1>Check Out My Bio!!!!</h1>
    <form action="/website" method="GET">
        <input type="submit" value="Back To Home Page? Click Here"><br>
    </form>
    <p>My name is Landon and I have two dogs named Sadie and Lola. Lola is a mini Australian sheppard with doodle mix. Sadie is part hound, golden retreiver, German sheppard mix. My favorite video games are Star Wars Battlefront, Lego Star Wars, and Madden NFL on my Xbox 1 S. My favorite team On Madden is the Cardinals.</p>
    <img src="http://i.imgur.com/8ttFxI1.jpg">
    <img src="http://i.imgur.com/y1faKec.jpg">
</div>

</body>
</html>