<!DOCTYPE html>
<html>
<head>
    <title>Landon's Favorite Games</title>  
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
body, html {
    height:100%;
    margin:0;
    padding:0;
}
.game-page {
    background:url("http://i1.wp.com/millington-news.com/wp-content/blogs.dir/3/files/2016/12/Blues_Sunday_OIAS.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}
h1 {
    margin:0;
}
.links {
    padding-top: 25px;
}
.game-links {
    padding:20px;
}
</style>
<body>
    
<div class="game-page">
    <h1>Check Out These AMAZING Games!!!!</h1>
    <form action="/website" method="GET">
        <input type="submit" value="Back To Home Page? Click Here"><br>
    </form>
<div class="links">
    <a href="http://www.starwarsgamesonline.com/star-wars-soundboard" class="game-links" target="_blank">Game: Star Wars Sounds and sound effects</a><br>
    <a href="http://poki.com/en/g/sniper-team" class="game-links" target="_blank">Game: Military Snipers </a><br>
    <a href="http://poki.com/en/g/3d-moto-simulator-2" class="game-links" target="_blank">Game: Motorcycle Police </a><br>
    <a href="http://www.freeonlinegames.com/tag/military-games/rapid-gun-3" class="game-links" target="_blank">Game: Military machine Gun</a><br>
</div> 
</div>

</body>
</html>