<!DOCTYPE html>
<html>
<head>
    <title>PASSWORD CHECK-IN</title>  
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Hanalei|Orbitron');
html, body{
    margin:0;
    padding:0;
    height:100%;
}

.homepage {
    background:url("http://www.tokkoro.com/picsup/420984-army-desktop-background-pictures-free.jpg") no-repeat center center fixed;
    font-family: 'Orbitron', sans-serif;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height:100%;
}

input[type=button] {
    background-color:#DA9000;
}

</style>
<script>
function passWord(){
    var test=1;
    var pass1=prompt("Please Enter Your Best Guess For Password To Get In", " ");
    while (test<3){
        if (!pass1)
        history.go(-1);
        if (pass1.toLowerCase()=="s.w.a.t."){
            alert("Congrats. You got it right. Have Fun!");
            window.open("website.html");
            break;
        }
        test+=1;
        var pass1=prompt ("Nope. Try Again.", "Password");
    }
    if (pass1.toLowerCase()!="s.w.a.t." & test==3)
    history.go(-1);
    return " ";
}
</script>
</head>  
<body> 
<div class="homepage">
<form>
    <input type="button" value="Enter Protected area" onClick="passWord()">
</form>
</div>
</body>
</html>

