<!DOCTYPE html>
<html>
<head>
    <title>Landon's Favorite Videos</title>  
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
body, html {
    margin:0;
    padding:0;
    height:100%;
}
.video-page {
    background:url("https://blogjob.com/oneangrygamer/files/2015/10/Image236-585x300.jpg") center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:200%;
}
h1 {
    margin:0;
}
</style>
</head>
<body>

<div class="video-page">
<div class="video">
    <h1>Amazing Videos!!!!!</h1>
    <form action="/website" method="GET">
        <input type="submit" value="Back To Home Page? Click Here"><br>
    </form>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uezzA1DSOk4" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uFY-XRlcdLs" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/d59MDO-zFr0" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7J1KT38XyCg" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ri4N_EVMARI" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YDnaXaOtrcs" frameborder="0" allowfullscreen></iframe>
</div>
</div>

</body>
</html>