<!DOCTYPE html>
<html>
<head>
    <title>Landon's Website</title>  
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/artua/star-wars/128/Darth-Vader-icon.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Hanalei|Orbitron');
html, body{
    margin:0;
    padding:0;
    height:100%;
}

.homepage {
    background:url("http://api.theweek.com/sites/default/files/styles/tw_image_9_4/public/SWAT.jpg?itok=yuGg6zpX&resize=1260x560") no-repeat center center fixed;
    font-family: 'Orbitron', sans-serif;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: left;
  height:100%;
}
.home-h1{
color: white;
margin:0;
padding-top:10%;
}
.home-h3{
    color: white;
}
.home-button{
    border:3px solid white;
    background:transparent;
    font-family: 'Hanalei';
    color:white;
    font-size:25px;
    font-weight:900;
    margin:10px;
}
.home-button:hover{
    background:red;
    font-weight:900;
}


.page2 {
    background:url("https://brickmaniatoys.files.wordpress.com/2014/03/ranger01.png") no-repeat center center fixed;
    font-family: 'Orbitron', sans-serif;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: left;
  height:100%;
} 

.links{
padding-top:20%;
}  

.game-link{
    color:white;
    text-decoration: none;
}

.page3 {
    background:url("https://farm9.static.flickr.com/8745/16962568052_7af77d7150_b.jpg") no-repeat center center fixed;
    font-family: 'Orbitron', sans-serif;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height:100%;
} 

.website-button{
    border:3px solid blue;
    background:transparent;
    font-family: 'Hanalei';
    color:blue;
    font-size:25px;
}
.website-button:hover{
    background:blue;
}

.youtube-button{
    border:3px solid blue;
    background:transparent;
    font-family: 'Hanalei';
    color:blue;
    font-size:25px;
}
.youtube-button:hover{
    background:blue;
}

iframe {
    padding-top:20px;
    display:none;
}

</style>
<script>

$(document).ready(function(){
    $(".website-button").click(function(){
        $("iframe").toggle();
    });
});


</script>
</head>  
<body> 


 <!--HOMEPAGE -->
<div class="homepage">
    <h1 class="home-h1">Landon's Law Enforcement Station!</h1>
    <h3 class="home-h3">I like to play army and police games with my friends and cousins.</h3>
<form action="/videos" method="GET">
    <button type="submit" class="home-button">Click Here To Watch Videos!!!</button><br>
</form>
<form action="/games" method="GET">
    <button type="submit" class="home-button">Click Here To Play Games!!!</button>
</form>
<form action="/about" method="GET">
    <button type="submit" class="home-button">Click Here To See My Bio Page!!!</button>
</form>
</div>
 <!-- END HOMEPAGE -->

 


</body>
</html>